.App-intro {
  height: auto;
  text-align: left;
  font-family: "Ubuntu";
  color: black;
  background-color: #e1e1e1;
}

@media only screen and (max-width: 992px){
  .App-intro, #skills, .intro {
    text-align: center;
  }
  .profile-picture {
    margin-bottom: 20px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 767px){
  .article, .post {
    text-align: center;
  }
  .main-hr {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

.App-detail {
  font-family: "Ubuntu";
  color: black;
  background-color: #f4f4f4;
}